
.aboutUsContainer {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    height: 860px;
    border-top: 5px solid white;

    // DESIGN NEW
    background-color: #082340;
    // background-color: #082340;

    ul {
        list-style: none;
    }

    li {
        // background-color: green/;
        // list-style-image: url("../../assets/imgs/checkIcon.svg")
        
        padding-left: 15px;
        &:before {
            background: url("../../assets/imgs/checkIcon.svg") no-repeat top left;
            padding: 3px 16px;
            content: '';
            width: 24px;
            position: absolute;
            height: 24px;
            margin: 7px -35px;
        }
    }

    .aboutUsTitle {
        // background-color: #082340;
        font-size: 32px;
        color: #082340;
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 50px 0;


        // NEW DESIGN
        background-color: #082340;
        color: orange;

    }

    .oval {
        position: absolute;
        right: -157px;
        top: 212px;
        background-color: white;
        width: 490px;
        height: 236px;
        z-index: 1;
        border-radius: 67%;
    }

    .designDescription {
        width: 650px;
        line-height: 40px;
        font-size: 16px;
    }

    .contactContent {

    }

    .react-swipeable-view-container {
        height: 550px;
        width: 900px;


        // NEW DESIGN
        background-color: #082340;
        color: white;

        &>div {
            background-color: #082340;
        }
    
    }

    .tabIcon {
        &:hover {
            background-color: white;
            color: black;
            transition: all 1s;

            background-color: #082340;
            color: white;

            // .PrivateTabIndicator-colorPrimary-95 {
            //     background-color: green !important;
            // }
        }
        transition: all 1s;

    }

    .svgIcon {
        g {
            fill: currentColor;
        }
    }

    .MuiBox-root {
        padding: 25px 0;
    }

    .MuiTabs-indicator {
        background-color: orange;
        height: 3px;
    }

    .MuiTab-textColorPrimary.Mui-selected {
        color: black;
        color: orange;
        background-color: #082340;
        color: white;

        &:hover {
            color: orange;
        }
    }

    .MuiAppBar-colorDefault {
        color: rgba(0, 0, 0, 0.87);
        background-color: #ffaa00;
    }

    .MuiTab-textColorPrimary {
        // color: white;

        background-color: white;
        color: #082340;
    }

    .PrivateTabIndicator-colorPrimary-95 {
        // background-color: black;
        background-color: orange;
        height: 3px;

        &:hover {
            background-color: white;
        }
    }

    .inputText {
        margin: 20px;

        .MuiInputBase-root {
            color: #DE9E48;

            .MuiOutlinedInput-notchedOutline {
                border-color: #ffffff;

                
            }
        }

        .MuiInput-underline:before {
            border-bottom: 1px solid rgba(255, 255, 255, 0.65);
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
            border-bottom: 2px solid 2px solid rgba(255, 255, 255, 1)
        }

        .MuiFormLabel-root {
            color: #ffffff;
        }

        .MuiFormLabel-root.Mui-focused {
            color: #DE9E48;
        }

        .MuiInput-underline:after {
            border-bottom: 2px solid #DE9E48;
        }
    }

    .contactButton {
        border: 1px solid #ffffff;
        color: #ffffff;
    }
}

