body {
    margin: 0;
}

.mainBackground {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    // background-image: url("./../../assets/imgs/28.jpg");
    background-image: url("./../../assets/imgs/46.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    // 25 28 28jpeg 31 37 44 45

    // 28 / 46 / 52 / 54

    .logo {
        position: absolute;
        left: 100px;
        top: 100px;
        z-index: 100;
        font-size: 25px;
    }

    .darkBackground {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 1;
    }

    .mainText {
        z-index: 100;
        position: relative;
        color: white;
        font-size: 32px;
    }

    a {
        color: transparent;
    }
    .contactButton {
        border: 1px solid white;
        color: white;
        display: block;
        margin: auto;
        margin-top: 250px;
        padding: 15px;
    }

    .MuiButton-root:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

html {
    scroll-behavior: smooth;
}