.secondSection {
    background-color: white;
    color: white;
    height: 100vh;
    // background-image: url("../../assets/imgs/house1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    // 25 28 28jpeg 31 37 44 45 46

    .house {
        position: absolute;
        right: 0;
        top: 250px;
    }
    
}