.secondSection {
    background-color: #082340;
    color: white;
    height: 100vh;
    // background-image: url("../../assets/imgs/house1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    // 25 28 28jpeg 31 37 44 45 46

    .solar {
        position: absolute;
        left: 0;
        top: 80px;
    }

    .solar2 {
        position: absolute;
        left: 130px;
        top: 500px;
    }
    
}